body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    margin-left: 0;
    opacity: 0.9;
  }
  
  header {
    height: 69px;
    border-bottom: 1px solid seashell;
    margin: 0;
  }

  #logoImg {
    padding-left: 10px;
  }

  nav {
    
    float: right; 
    color: seashell;
  }

  ul li {
    display: inline;
    list-style: none;
    text-decoration: underline;
  }

  a {
    color: seashell;
  }
  
  #sec1 {
    height: 700px;
    background-image: url("images/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 70px;
  }

  .mission {
    width: 100vw;
    background-color: black;
    position: relative;
    top: 50%;
  }

  .missionText {
    text-align: center;
    padding-top: .5px;
  }

  #missionTitle {
    font-size: 24px;
    line-height: 0.5;
    margin-bottom:-5px; /* Reducing the space betwween this h2 text and the text below it*/
    padding-top: 10px;
  }

  #missionStatement {
    font-size: 16px;
    line-height: 2.5;
    margin-top:-70px; /* Reducing the space betwween this h4 text and the text above it*/
  }

  #sec2 {
    text-align: center; /* Text did not center until I placed this in the parent ID*/
    margin-bottom: 70px;
  }

  .steepingTxt {
    margin-top: -60px; /* `the h4 and h2 elements were too far apart, so I'm using this to bring them closer*/
  }

div.gallery {
  /* float: center; */
  display: flex;
  flex-wrap: wrap; /* Wrapped images so that they fit the way they are meant to */
  justify-content: center; /* The remaining space will be around all items, with all items stuck together */
  
}

div.desc {
  text-align: center;
  padding-top: 0;
  margin-bottom: -10px;
  margin-top:-20px;
}

#sec3 {
  height: 700px;
  background-image: url("images/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 70px;
}

#locationTitle {
  text-align: center;
}

.location {
  padding-top: 50px;
  padding-bottom: 15px;
}

#locale {
  background-color: black;
  width: 300px;
  height: 300px;
  margin: 20px;
}

#addy {
 padding-top: 5px;
}

#allLocations {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  margin-left: 210px;
}

#sec4 {
  height: 200px;
  text-align: center; 
}

footer {
  float: left;
  margin-left: 20px;
}


